@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.background-container {
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-height: 8000px;
    background: #d4d4ff;
    background: linear-gradient(135deg,rgba(212, 212, 255, 1) 0%, rgba(255, 227, 189, 1) 25%, rgba(252, 215, 210, 1) 50%, rgba(225, 255, 217, 1) 75%, rgba(212, 212, 255, 1) 100%);
}

.background-container h1 {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    color: #212529;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.styled-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    table-layout: fixed;
}

.styled-table thead tr {
    background-color:rgb(202, 190, 255);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    background-color: #f3f3f3;    
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    background-color: #f3f3f3;    
    border-bottom: 2px solid rgb(202, 190, 255);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    padding: 10px 20px;
    background-color: none;
    color: #212529;
    cursor: pointer;
    font-size: .99em;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
}
