div {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #d4d4ff;
    background: linear-gradient(135deg,rgba(212, 212, 255, 1) 0%, rgba(255, 227, 189, 1) 25%, rgba(252, 215, 210, 1) 50%, rgba(225, 255, 217, 1) 75%, rgba(212, 212, 255, 1) 100%);
}
h1 {
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color:rgb(59, 60, 139);
}