@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.background-container {
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4d4ff;
    background: linear-gradient(135deg,rgba(212, 212, 255, 1) 0%, rgba(255, 227, 189, 1) 25%, rgba(252, 215, 210, 1) 50%, rgba(225, 255, 217, 1) 75%, rgba(212, 212, 255, 1) 100%);
}

.custom-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #343a40;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.problem {
    border-color: rgb(47, 50, 152);
}

.noProblem {
    border-color: #ccc;
}

.custom-field {
    width: 100%;
}

button[type='submit'] {
    width: 100%;
}

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }

    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }

    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}